---
import Section from "@atoms/Section.astro";
import Wrapper from "@atoms/Wrapper.astro";
import { Image } from "astro:assets";
interface Props {
  imageUrl: string;
  imageAlt: string;
}
const { imageUrl, imageAlt } = Astro.props;
---
<Section variant="default" tag="div" classes="relative min-h-screen">
  <Wrapper cols={2} display="grid" gap="4rem" alignItems="flex-start">
    <div class="sticky top-0 h-screen flex items-center">
      <div class="w-full">
        <img src={imageUrl} alt={imageAlt ?? ""} width={800} height={1000} class="rounded-xl shadow-2xl object-cover w-full h-[80vh]" />
      </div>
    </div>
    <div class="py-24">
      <slot />
    </div>
  </Wrapper>
</Section>